.container 
    max-width: 1256px
    margin: auto
.block
    animation: show 2s ease delay infinite
.row
    display: flex
    justify-content: space-between
    margin: 0
.col
  &-30
    flex-basis: 33%
    margin: 0 1%
  &-50
    width: 50%
