.projects
  &__subtitle
    display: flex
    max-width: 55rem
    margin: auto
    margin-bottom: 3rem
    text-transform: lowercase  
  &__text
    font-family: FuturaBookC, sans-serif
    color: #363636
    line-height: 1.6rem
    font-size: 1.2rem
    


   
      

      
    